TG_API_ID=
TG_API_HASH=
TG_SESSION=
LOGOLEAD_BOT_TOKEN=
LEADS_BOT_TOKEN=
LOGOLEAD_CHAT_ID=
MIN_SCORE=50
MAX_AGE_HOURS=72
MAX_LEADS_PER_RUN=12
DELIVERY_MAX_AGE_HOURS=24
PENDING_LIMIT=500
DELIVERY_ENABLED=0
RUN_INTERVAL_MINUTES=10
ENABLE_MARKETS=1
MARKET_INTERVAL_MINUTES=30
ENABLE_WEB=1
WEB_INTERVAL_MINUTES=60
SEND_STATUS=0
DISPLAY_TZ_OFFSET=3
